<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Animations</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.258636115146-7nl13aastn3079r4ulld1rl1ic1u7kdg</string>
				<string>fb907566633957363</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CodePushPublicKey</key>
	<string>-----BEGIN PUBLIC KEY-----
    MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAnouJT2vSVpHnfNex1Iu1
    /C1f6/1Q+rlQjZQy8CoVrUABJ8fJNAC8WoMqZqI7uwIEfpXzWpyOj5CtDUvqQ6i8
    9Oxr1aAEOcDZ08PgXwiNHY0eOXHli1J969m7uqx4LBT13W4ZtJU6VIUal0b6Nw1l
    +kAFHjFLn4J0yU722Dho/H+sYmq0aSa2cgcAE2DXcIUyfNQ/rTKTUWR9vuIYUS4+
    t45AHqKM1Nz0x+PgEyvclOqNJWk4mvNw5ZVvQX83CrVKLXpqEMfrciLafgMRm2wZ
    dI9Q/NGYbW2B0xp+TwOLHDV9eMryoNmMAY0EoIa/pLelpWOT9ijjJyXG2y3jQRlH
    +wIDAQAB
    -----END PUBLIC KEY-----
  </string>
	<key>FacebookAppID</key>
	<string>907566633957363</string>
	<key>FacebookClientToken</key>
	<string>5c1ae6423b9758513539e7e2fc19e9c0</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
    <string>message</string>
    <string>readdle-spark</string>
    <string>airmail</string>
    <string>ms-outlook</string>
    <string>googlegmail</string>
    <string>inbox-gmail</string>
    <string>ymail</string>
    <string>superhuman</string>
    <string>yandexmail</string>
    <string>fastmail</string>
    <string>protonmail</string>
    <string>szn-email</string>
  </array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Arimo-Bold.ttf</string>
		<string>Arimo-Medium.ttf</string>
		<string>Arimo-Regular.ttf</string>
		<string>Lato-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<string>YES</string>
  <key>NSUserTrackingUsageDescription</key>
  <string>Allow tracking for improved personalisation experience and deliver personalized ads to you.</string>
</dict>
</plist>
