<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>529557114899-rvcp4gr7mb3vj47m2odn75nlepiq9qde.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.529557114899-rvcp4gr7mb3vj47m2odn75nlepiq9qde</string>
	<key>API_KEY</key>
	<string>AIzaSyCcXbdXUmvCThy6ZFVoWDdegHZeVZK0YQM</string>
	<key>GCM_SENDER_ID</key>
	<string>529557114899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lomray.wallpapers</string>
	<key>PROJECT_ID</key>
	<string>wallpapers-app-84bfb</string>
	<key>STORAGE_BUCKET</key>
	<string>wallpapers-app-84bfb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:529557114899:ios:b245b9fdcdae9c026c2fe6</string>
</dict>
</plist>